<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736791086604-a5tipln6c97i1diaq0vju6aa3ff8i9kq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736791086604-a5tipln6c97i1diaq0vju6aa3ff8i9kq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>736791086604-mlhge48i72d42m13e3g6vi5bdri1p3vg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAkYC8rx1l_fbNtpYsCnzxvntTVM7WpKoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>736791086604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beyondss.beyondss</string>
	<key>PROJECT_ID</key>
	<string>bss-sg</string>
	<key>STORAGE_BUCKET</key>
	<string>bss-sg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736791086604:ios:320a1ffd4ecb6dbcc31029</string>
</dict>
</plist>