<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300744757593-245v4b29ocm872p07uhaggrk5q8j1b38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300744757593-245v4b29ocm872p07uhaggrk5q8j1b38</string>
	<key>API_KEY</key>
	<string>AIzaSyDmZIdBKC5M-eNmNbauNuP28vD97q-eg0s</string>
	<key>GCM_SENDER_ID</key>
	<string>300744757593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aaronkoh.lessonplan</string>
	<key>PROJECT_ID</key>
	<string>lessonplan-sg</string>
	<key>STORAGE_BUCKET</key>
	<string>lessonplan-sg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300744757593:ios:2685e3ea3b595423de7c48</string>
</dict>
</plist>